/*  your css code here. If applicable */
*{
	background-color:lightblue;
}
.name{
	color:blue;
	font-weight:800;
}
.describtion{
font-weight:700;
	font-size:18px;
}
.container{
	display:flex;
	width:550px;
	justify-content:center;
}
.left{
	display:flex;
	flex-direction:column;
}
.right form{
	display:flex;
	flex-direction:column;
}
.right form, input, button, .forgot{
	background-color:white;
}
.right{
	
}
form{
	padding:10px;
}